<form action="/bio_form" method="POST">
  <textarea name="bio" class=""></textarea>
  <input type="url" name="profile_image" placeholder="html link to your profile image">
  <input type="submit" value="Submit">
</form>
