  <form action="/profile" method="post">
    <input type="text" placeholder="--full name--" name="full_name">
    <input type="text" placeholder="--user name--" name="username">
    <input type="text" placeholder="--email--" name="email">
    <input type="text" placeholder="--gravatar link--" name="gravatar_link">
    <textarea  rows="4" cols="50" name="bio">biography</textarea>
    <input type="password" placeholder="--password--" name="password">
    <input type="submit" value="login">
  </form>
