<div class="col-md-6" id="sign-up">
    <h2>Sign Up</h2>
        <div class="form-group">
            <form action="/signup" method="POST" id="signup-form">
                <p><input type="text" name="full_name" class="form-control" placeholder="Full name"></p><br>
                <p><input type="text" name="username" class="form-control" placeholder="Username"></p><br>
                <p><input type="text" name="email" class="form-control" placeholder="Email address"></p><br>
                <p><input type="password" name="password" class="form-control" placeholder="Password"></p><br>
                <label><input type="checkbox" name="terms"> I agree with the <a href="https://youtu.be/ZZ5LpwO-An4">Terms and Conditions</a>.</label>
                <input type="submit" value="Sign up" class="btn btn-primary pull-right">
            </form>
        </div>
</div>
